---
import Layout from '../layouts/Layout.astro'
import Media from '../components/Media.astro'
import { Icon } from 'astro-icon/components'
import { getCollection } from 'astro:content'

const educationEntries = (await getCollection('education')).sort(
  (a, b) => new Date(b.data.start).getTime() - new Date(a.data.start).getTime(),
)
const workEntries = (await getCollection('work')).sort(
  (a, b) => new Date(b.data.start).getTime() - new Date(a.data.start).getTime(),
)
const languageEntries = (await getCollection('languages')).sort(
  (a, b) => a.data.order - b.data.order,
)
const awardEntries = (await getCollection('awards')).sort((a, b) => a.data.order - b.data.order)
---

<Layout
  title="Resume"
  description="Education, work experience, languages, and awards for Thomas Dooms."
>
  <div class="grid grid-cols-1 gap-6 lg:grid-cols-12">
    <!-- Education Column -->
    <div class="lg:col-span-5">
      <h5 class="mb-4 ml-2 text-xl font-bold">Education</h5>
      {educationEntries.map((study) => <Media {...study.data} />)}
    </div>

    <!-- Work Experience Column -->
    <div class="lg:col-span-7">
      <h5 class="mb-4 ml-2 text-xl font-bold">Work Experience</h5>
      {workEntries.map((job) => <Media {...job.data} />)}
    </div>
  </div>

  <div class="mt-6 grid grid-cols-1 gap-6 lg:grid-cols-12">
    <!-- Languages Column -->
    <div class="lg:col-span-4">
      <h5 class="mb-4 ml-2 text-xl font-bold">Languages</h5>

      <div class="card bg-base-100 h-[294px] p-6 shadow-md">
        {
          languageEntries.map((language) => (
            <div>
              <div class="flex items-center justify-between py-0">
                <strong>{language.data.name}</strong>
                <span class="text-base-content/75">{language.data.level}</span>
              </div>
              <progress
                class="progress progress-error mb-4 h-2"
                max="100"
                value={language.data.percent}
              >
                {language.data.percent}%
              </progress>
            </div>
          ))
        }
      </div>
    </div>

    <!-- Awards Column -->
    <div class="lg:col-span-8">
      <h5 class="mb-4 ml-2 text-xl font-bold">Awards</h5>

      <div class="card bg-base-100 p-6 shadow-md">
        {
          awardEntries.map((award) => (
            <div class="mb-3 flex items-center gap-3">
              <span class="text-primary text-2xl">
                <Icon name="fa6-solid:award" />
              </span>
              <span>
                {award.data.title}
                <small class="text-base-content/75 ml-2 italic">
                  (
                  {award.data.end
                    ? `${new Date(award.data.start).getFullYear()} - ${new Date(award.data.end).getFullYear()}`
                    : new Date(award.data.start).getFullYear()}
                  )
                </small>
              </span>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</Layout>
